html {
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5rem;
  background-color: #ccc;
  background-image:linear-gradient(#fff, #ccc);
  height: 100vh;
}

#instructions {
  text-align: center;
  padding: 0.5rem;
  opacity: 0.25;
}

.container {
  text-align: center;
}

#textbox {
  height: 50%;
  width: 45%;
  position: absolute;
  padding: 1rem;
  display: none;
  padding: 6rem 1rem;
}

#textbox p {
  margin: 0 0 1rem 0;
  font-size: 1.75rem;
}

.char-img {
  display: inline-block;
  padding: 3.5rem;
  -webkit-transition: transform 0.25s ease-in-out;
  -moz-transition: transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
}

.neutral {
  -webkit-transition: transform 0.25s ease-in-out;
  -moz-transition: transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  /*-webkit-animation: dance 1s ease-in-out infinite;
  -moz-animation: dance 1s ease-in-out infinite;
  animation: dance 1s ease-in-out infinite;*/
}

.unselected {
  -webkit-transition: transform 0.25s ease-in-out;
  -moz-transition: transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  -webkit-transform: translateY(13rem) scale(0.25, 0.25);
  -moz-transform: translateY(13rem) scale(0.25, 0.25);
  -ms-transform: translateY(13rem) scale(0.25, 0.25);
  -o-transform: translateY(13rem) scale(0.25, 0.25);
  transform: translateY(13rem) scale(0.25, 0.25);
}

/* radio controls */
audio {
  display: block;
  width: 15rem;
  margin: 0 auto;
}
