html {
  font-family: Arial, sans-serif;
  font-size: 20px;
  background-color: #ccc;
  background-image:linear-gradient(#fff, #ccc);
  height: 100vh;
}

.container {
  text-align: center;
}

#textbox {
  height: 50%;
  width: 50%;
  background: red;
  position: absolute;
  padding: 2rem;
  display: none;
}

#textbox p {
  margin: 0 0 1em 0;
}

.char-img {
  display: inline-block;
  padding: 4rem;
  -webkit-transition: transform 0.25s ease-in-out;
  -moz-transition: transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
}

.neutral {
  -webkit-transition: transform 0.25s ease-in-out;
  -moz-transition: transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  /*-webkit-animation: dance 1s ease-in-out infinite;
  -moz-animation: dance 1s ease-in-out infinite;
  animation: dance 1s ease-in-out infinite;*/
}

.unselected {
  -webkit-transition: transform 0.25s ease-in-out;
  -moz-transition: transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  -webkit-transform: translateY(10rem) scale(0.25, 0.25);
  -moz-transform: translateY(10rem) scale(0.25, 0.25);
  -ms-transform: translateY(10rem) scale(0.25, 0.25);
  -o-transform: translateY(10rem) scale(0.25, 0.25);
  transform: translateY(14rem) scale(0.25, 0.25);
}

/* radio controls */
audio {
  display: block;
  width: 15rem;
  margin: 0 auto;
}

/* dance */
/*@-webkit-keyframes dance {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(0.25deg);
    transform: rotate(0.25deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-0.5deg);
    transform: rotate(-0.5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes dance {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(0.25deg);
    transform: rotate(0.25deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-0.5deg);
    transform: rotate(-0.5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}*/
